/*
 * Guide to theming: https://material.angular.io/guide/theming
 */
@import '~@angular/material/theming';
@include mat-core();


$elewa-app-primary: mat-palette($mat-brown);
$elewa-app-accent:  mat-palette($mat-amber, A400, A100, A400);

$elewa-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$elewa-app-theme: mat-light-theme($elewa-app-primary, 
                                  $elewa-app-accent, 
                                  $elewa-app-warn);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($elewa-app-theme);