/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.flex-spacer, .fill-remaining {
  flex-grow: 1;
}

.mat-card-subtitle.card-section-title {
  font-size: 1.2em;
  text-decoration: underline;
  color: black;
  text-align: center;
  margin-top: 18px;
}

mat-radio-button {
  margin-right: 10px;
}